<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SomaShare - University Textbook Exchange</title>
    <base href="/" />
    
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="SomaShare.Web.styles.css" />
    
    <HeadOutlet />
</head>
<body>
    <Routes />
    
</body>
</html>
